Repository corpus-christi/corpus-christi, pull requests merged in 2019-01, with the labels that each got.

#128 Qa testing
  ui/src/components/AccountForm.vue
  ui/src/components/AccountMenu.vue
  ui/src/components/LocaleMenu.vue
  ui/src/components/PersonForm.vue
  ui/src/components/PersonTable.vue
  ui/src/components/toolbars/Arco.vue
  ui/src/components/toolbars/Standard.vue
  ui/src/pages/Login.vue
  ui/src/pages/Public.vue
  ui/tests/e2e/specs/locale_button_test.js
  yarn.lock
Labels: qa

#202 Courses & Prerequisites CRUD
  api/cc-api.py
  api/migrations/versions/35ba11184cb5_.py
  api/src/__init__.py
  api/src/boilerplate/yaml/courses.yaml
  api/src/courses/api.py
  api/src/courses/models.py
  api/src/courses/test_courses.py
  api/src/etc/api.py
  api/yarn.lock
  doc/sdm.md
  ui/i18n/cc-i18n.json
  ui/i18n/yaml/actions-l10n.yaml
  ui/i18n/yaml/courses-l10n.yaml
  ui/i18n/yaml/validation-l10n.yaml
  ui/i18n/yaml/vuetify-l10n.yaml
  ui/mocks/db.json
  ui/mocks/routes.json
  ui/src/components/NavDrawer.vue
  ui/src/components/courses/CourseAdminActions.vue
  ui/src/components/courses/CourseCard.vue
  ui/src/components/courses/CourseEditor.vue
  ui/src/components/courses/CourseForm.vue
  ui/src/components/courses/CoursesTable.vue
  ui/src/pages/Courses.vue
  ui/src/plugins/vue-i18n.js
  ui/src/plugins/vuetify.js
  ui/src/router.js
  ui/yarn.lock
Labels: app-courses

#204 App events
  .gitignore
  api/cc-api.py
  api/config.py
  api/migrations/versions/002b27a9b8cd_.py
  api/requirements.txt
  api/src/__init__.py
  api/src/boilerplate/yaml/events.yaml
  api/src/events/__init__.py
  api/src/events/api.py
  api/src/events/create_event_data.py
  api/src/events/models.py
  api/src/events/test_events.py
  api/src/people/models.py
  api/src/people/test_people.py
  api/src/places/api.py
  api/src/places/models.py
  doc/develop.md
  ui/.gitignore
  ui/i18n/cc-i18n.json
  ui/i18n/yaml/actions-l10n.yaml
  ui/i18n/yaml/event-l10n.yaml
  ui/i18n/yaml/people-l10n.yaml
  ui/i18n/yaml/vuetify-l10n.yaml
  ui/src/components/EntitySearch.vue
  ui/src/components/NavDrawer.vue
  ui/src/components/PersonForm.vue
  ui/src/components/events/Event.vue
  ui/src/components/events/EventDetails.vue
  ui/src/components/events/EventForm.vue
  ui/src/components/events/EventParticipants.vue
  ui/src/components/events/EventTable.vue
  ui/src/components/events/EventTeams.vue
  ui/src/components/events/assets/AssetForm.vue
  ui/src/components/events/assets/EventAssets.vue
  ui/src/pages/Events.vue
  ui/src/plugins/vue-i18n.js
  ui/src/plugins/vuetify.js
  ui/src/router.js
  ui/tests/e2e/specs/add_people_test.js
  ui/tests/e2e/specs/admin_cancel_login_spec.js
  ui/tests/e2e/specs/admin_login_spec.js
  ui/tests/e2e/specs/admin_logout_spec.js
  ui/tests/e2e/specs/arco_home_button_test.js
  ui/tests/e2e/specs/clears_add_people_form_test.js
  ui/tests/e2e/specs/closes_out_add_people_form_test.js
  ui/tests/e2e/specs/edit_password.js
  ui/tests/e2e/specs/edit_user.js
  ui/tests/e2e/specs/events/archive_event_spec.js
  ui/tests/e2e/specs/events/create_event_spec.js
  ui/tests/e2e/specs/events/duplicate_event_spec.js
  ui/tests/e2e/specs/events/update_event_spec.js
  ui/tests/e2e/specs/group_page_test.js
  ui/tests/e2e/specs/homepage_from_admin_test.js
  ui/tests/e2e/specs/locale_button_test.js
  ui/tests/e2e/specs/people_page_test.js
  ui/tests/e2e/specs/person_table_spec.js
  ui/tests/e2e/specs/search_bar.js
  ui/vue.config.js
Labels: app-events

#208 Courses CRUD
  api/cc-api.py
  api/migrations/versions/002b27a9b8cd_.py
  api/src/__init__.py
  api/src/boilerplate/yaml/courses.yaml
  api/src/courses/api.py
  api/src/courses/models.py
  api/src/courses/test_courses.py
  api/src/etc/api.py
  api/yarn.lock
  cypress/fixtures/example.json
  cypress/integration/examples/actions.spec.js
  cypress/integration/examples/aliasing.spec.js
  cypress/integration/examples/assertions.spec.js
  cypress/integration/examples/connectors.spec.js
  cypress/integration/examples/cookies.spec.js
  cypress/integration/examples/cypress_api.spec.js
  cypress/integration/examples/files.spec.js
  cypress/integration/examples/local_storage.spec.js
  cypress/integration/examples/location.spec.js
  cypress/integration/examples/misc.spec.js
  cypress/integration/examples/navigation.spec.js
  cypress/integration/examples/network_requests.spec.js
  cypress/integration/examples/querying.spec.js
  cypress/integration/examples/spies_stubs_clocks.spec.js
  cypress/integration/examples/traversal.spec.js
  cypress/integration/examples/utilities.spec.js
  cypress/integration/examples/viewport.spec.js
  cypress/integration/examples/waiting.spec.js
  cypress/integration/examples/window.spec.js
  cypress/plugins/index.js
  cypress/support/commands.js
  cypress/support/index.js
  doc/sdm.md
  ui/i18n/cc-i18n.json
  ui/i18n/yaml/actions-l10n.yaml
  ui/i18n/yaml/courses-l10n.yaml
  ui/i18n/yaml/validation-l10n.yaml
  ui/i18n/yaml/vuetify-l10n.yaml
  ui/mocks/db.json
  ui/mocks/routes.json
  ui/src/components/NavDrawer.vue
  ui/src/components/courses/CourseAdminActions.vue
  ui/src/components/courses/CourseCard.vue
  ui/src/components/courses/CourseEditor.vue
  ui/src/components/courses/CourseForm.vue
  ui/src/components/courses/CoursesTable.vue
  ui/src/pages/Courses.vue
  ui/src/router.js
  ui/tests/e2e/specs/add_people_test.js
  ui/tests/e2e/specs/edit_user.js
  ui/tests/e2e/specs/new_course_add_test.js
  ui/yarn.lock
Labels: app-courses

#234 App courses Diplomas and Course Offerings added
  api/cc-api.py
  api/migrations/versions/def2cd6e8d2f_.py
  api/pytest.ini
  api/reset-database.sh
  api/src/courses/api.py
  api/src/courses/models.py
  api/src/courses/test_courses.py
  ui/i18n/cc-i18n.json
  ui/i18n/yaml/actions-l10n.yaml
  ui/i18n/yaml/courses-l10n.yaml
  ui/i18n/yaml/diplomas-l10n.yaml
  ui/mocks/db.json
  ui/src/components/EntitySearch.vue
  ui/src/components/NavDrawer.vue
  ui/src/components/courses/CourseDetails.vue
  ui/src/components/courses/CourseOffering.vue
  ui/src/components/courses/CourseOfferingDetails.vue
  ui/src/components/courses/CourseOfferingForm.vue
  ui/src/components/courses/CourseOfferingStudents.vue
  ui/src/components/courses/CourseOfferingsTable.vue
  ui/src/components/courses/CoursesTable.vue
  ui/src/components/courses/actions/CourseAdminActions.vue
  ui/src/components/courses/actions/CourseOfferingAdminActions.vue
  ui/src/components/diplomas/DiplomaAdminActions.vue
  ui/src/components/diplomas/DiplomaEditor.vue
  ui/src/components/diplomas/DiplomasTable.vue
  ui/src/pages/CourseOfferings.vue
  ui/src/pages/Courses.vue
  ui/src/pages/Diplomas.vue
  ui/src/plugins/vue-i18n.js
  ui/src/router.js
  ui/tests/e2e/plugins/index.js
  ui/tests/e2e/specs/courses/archive_courses.js
  ui/tests/e2e/specs/courses/cancel_course_form.js
  ui/tests/e2e/specs/courses/clears_courses_form.js
  ui/tests/e2e/specs/courses/course_offering_detail_test.js
  ui/tests/e2e/specs/courses/edit_course.js
  ui/tests/e2e/specs/courses/edit_course_offerings.js
  ui/tests/e2e/specs/courses/get_to_course_page.js
  ui/tests/e2e/specs/courses/new_course_add_test.js
  ui/tests/e2e/specs/courses/next_courses_page.js
  ui/tests/e2e/specs/courses/number_of_tables_rows.js
  ui/tests/e2e/specs/courses/search_for_courses.js
  ui/tests/e2e/specs/courses/template_tests.js
  ui/tests/e2e/specs/diplomas/get_to_diplomas_page.js
  ui/tests/e2e/specs/new_course_add_test.js
  ui/tests/e2e/support/commands.js
Labels: app-courses
